@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 216 100% 95%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 224 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 80% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 216 60% 90%;
    --muted-foreground: 215 20% 45%;
    --accent: 145 58% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 50% 80%;
    --input: 215 50% 80%;
    --ring: 224 100% 58%;
    --chart-1: 224 100% 58%;
    --chart-2: 145 58% 54%;
    --chart-3: 215 80% 85%;
    --chart-4: 224 71% 20%;
    --chart-5: 145 40% 30%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 224 100% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 100% 95%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 215 50% 80%;
    --sidebar-ring: 224 100% 58%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 83% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 224 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 145 58% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 224 100% 58%;
    --chart-1: 224 100% 58%;
    --chart-2: 145 58% 54%;
    --chart-3: 217 33% 30%;
    --chart-4: 210 40% 98%;
    --chart-5: 145 40% 70%;
    --sidebar-background: 222 84% 5%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 224 100% 58%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 20%;
    --sidebar-ring: 224 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
